<main class="main">
  <!-- app.component.html -->
  <ng-container *ngIf="info">
    <h1 class="mat-title mt-[2rem] mb-2">Tasksy</h1>

    <!-- Device-specific UI -->
    <p *ngIf="info.platform === 'ios'" color="primary">
      iPhone/iPad-specific UI
    </p>
    <p *ngIf="info.platform === 'mac'" color="accent">macOS-specific UI</p>
    <p *ngIf="info.platform === 'web'" color="accent">web-specific UI</p>

    <!-- Action Buttons -->
    <div
      :class="button-group my-4 flex w-full justify-center {{info.platform === 'ios' ? 'flex-col' : 'flex-row'}}"
    >
      <!-- info.platform === 'ios' ? 'flex-col' : 'flex-row' -->
      <button mat-raised-button color="primary" (click)="shareFile()">
        Write tasks to file
      </button>
      <button
        mat-raised-button
        [disabled]="info.platform === 'web' || !readfileAvailable"
        color="accent"
        (click)="readFile()"
      >
        Read tasks File
      </button>
      <button mat-raised-button color="warn" (click)="postTaskItem()">
        Post dummy task
      </button>
      <button mat-raised-button color="primary" (click)="getCurrentLocation()">
        Get Location
      </button>
      <div class="relative flex items-center justify-center">
        <p
          *ngIf="info.platform === 'web'"
          class="absolute top-[-1.7rem] w-[10rem]"
        >
          not available on web
        </p>
        <button
          class="w-full"
          mat-raised-button
          color="accent"
          (click)="takePhoto()"
          [disabled]="info.platform === 'web'"
        >
          Take Photo
        </button>
      </div>
    </div>

    <div *ngIf="imageDataUrl" class="mt-4">
      <h3>Preview:</h3>
      <img
        [src]="imageDataUrl"
        alt="Captured photo"
        style="max-width: 100%; border: 1px solid #ccc"
      />
    </div>

    <div *ngIf="fileContent" class="mt-4">
      <h3>file content:</h3>
      {{ fileContent | json }}
    </div>

    <mat-divider class="my-4"></mat-divider>
    <p>Task count: {{ tasks.length }}</p>

    <!-- Task list -->
    <mat-accordion *ngIf="tasks.length" class="mb-4">
      <mat-expansion-panel *ngFor="let task of tasks; trackBy: trackByTaskId">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ task.title }}</mat-panel-title>
          <mat-panel-description>{{ task.status }}</mat-panel-description>
        </mat-expansion-panel-header>

        <p>{{ task.description }}</p>
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p><strong>Tags:</strong> {{ task.tags.join(', ') }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</main>
<router-outlet />
